{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<h1 style="text-align: center;">About me</h1>
<br>
<p>
    My name is Ivan, I am 20 years old, I live in Latvia. My native language is Russian, I know Latvian well, and I know English quite well, thanks to the CS50 lectures, I understand it even better!
  I agree, I started programming late, but the thing is that before I had never doing anything with this kind of activity, I studied to be a marine mechanic and it so happened that I stopped working at sea due to seasickness.
My computer skills were limited to the usual use of what is given and seen. But when I found out and saw everything from the inside, it became interesting to me and I decided that I would and could do it.
I will try and improve my skills in programming and in general in the use of technologies of our century.
</p>
<p>
Now, thanks to a course from Harvard University, I understand how programming and other details works. It became much easier for me to navigate the codes and visualize in my head what is written in the code.
Thanks to the CS50 course and the staff for this opportunity and a great time learning, it's an unforgettable experience!
</p>


<h2 style="text-align: center;">A little about my project.</h2>
<br>
<p>
 My project is not very complex and not of the global scale, but I made this project useful for myself.
My project is a personal blog site in which I will post useful articles, a personal path and problems with which I start, something new from the world of programming. In the future, when the site will be available to everyone,
I will be pleased to receive feedback from other users and learn from the experience of other people.
</p>
{% endblock %}