{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<h1 style="text-align: center;">Contacts</h1>
<br>
<div class="container col-md-3" style="margin-bottom: 35%;">
    <a href="https://www.facebook.com/" style="font-size: 40px;">
        <img src="/static/img/facebook.png" width="35" height="35"> Facebook
    </a>
    <br>

    <a href="https://twitter.com/" style="font-size: 40px;">
        <img src="/static/img/twitter.png" width="35" height="35"> Twitter
    </a>
    <br>

    <a href="https://www.instagram.com/" style="font-size: 40px;">
        <img src="/static/img/instagram.png" width="35" height="35"> Instagram
    </a>
    <br>

    <a href="https://github.com/IvansMuzicenko" style="font-size: 40px;">
        <img src="/static/img/github-sign.png" width="35" height="35"> GitHub
    </a>

</div>



{% endblock %}